@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root {
  --light-grey: #EFEFEF;
  --grey: #A9A9A9;
  --dark-grey: #252525;
  --watermelon-red: #FF3B3F;
  --watermelon-red-hovered: #D62F32;
}

/* General */

* {
  font-family: "Nunito";
}

body {
  background-color: var(--light-grey)
}

.page-headings {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Nav */

.custom-header .nav-link {
    color: var(--grey);
}

.custom-header .nav-link:hover {
  color: var(--watermelon-red-hovered);
}

/* Carousel */

.carousel {
  width: 40vw;
  margin: 0 auto;
}

.carousel-caption {
  background-color: var(--watermelon-red);
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
  bottom: -0.75rem;
}

.carousel-caption p {
  margin-bottom: 2rem;
}

.carousel-indicators {
  border-bottom: 0px solid transparent;
}

/* Cards */

.card {
  margin-bottom: 20px;
}

.row {
  --bs-gutter-x: 0;
}